.dashboardHeaderContainer {
    background: var(--colour-white);

    height: 75px;
    padding: 10px 30px;

    
    display: grid;
    grid-template-columns: 1fr 1fr 35px;
    align-content: center;
    justify-items: start;
}