.dashboardHeaderContainer {
    background: var(--colour-white);

    height: 75px;
    padding: 10px 30px;

    grid-column-start: span 10;
    grid-row-start: 1;
    display: grid;
    align-content: center;
}